[Unit]
Description=Cloudrive
Documentation=https://github.com/psi-4ward/cloudrive
After=network.target

[Service]
Type=simple
User=cloudrive
Restart=on-failure

Environment=NODE_ENV=production
Environment=CLOUDRIVE_PORT=8080

WorkingDirectory=/opt/cloudrive
ExecStart=/usr/bin/node app.js

[Install]
WantedBy=multi-user.target
